@import '../../style/variables.scss';

.header {
    background-color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 31px 0;
    }

    &__imgbox {
        margin-right: 30px;
    }

    &__nav {
        margin-right: 30px;

        &__link {
            margin-right: 23px;
            transition: all .3s;

            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                transform: translateY(-3px);
            }
        }
    }

    &__nav__item {
        cursor: pointer;
        margin-right: 20px;
        transition: all .3s;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            img {
                transform: translateY(-3px);
            }

            transform: translateY(-3px);
        }
    }

    &__user__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        font-size: 1.3rem;
    }
}

.user__link {
    position: relative;

    &:hover .escape__modal__button {
        opacity: 1;
        pointer-events: all;
    }
}

.escape__modal__button {
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    color: #ec5353;
    transition: all .3s;
    text-align: center;
    padding: 15px;
    position: absolute;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.09);
}