@import '../../style/variables.scss';

.header {
    background-color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 31px 0;
    }

    &__imgbox {
        margin-right: 30px;
    }

    &__nav {
        margin-right: 30px;
        
        &__link {
            margin-right: 23px;
            transition: all .3s;

            &:last-child {
                margin-right: 0px;
            }

            &:hover {
                transform: scale(1.1)
            }
        }
    }

    &__nav__item {
        cursor: pointer;
        margin-right: 20px;
        transition: all .3s;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {
            img {
                transform: scale(1.1)
            }

            transform: scale(1.1)
        }
    }

    &__user__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary;
        font-size: 1.3rem;
    }
}