.errorMessage{
    font-size: 1.3rem;
    // margin: 0 auto;
    // align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    img {
        height: 40px;
        margin-right: 10px;
    }
}