@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

body {
  background-color: #ebebeb;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.heading {
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  position: relative;
  margin-bottom: 33px;

  &::before,
  &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #969696;
      width: 30%;
      height: 1px;
      border-radius: 2px;
  }

  &::before {
      left: 10%;
  }

  &::after {
      right: 10%;
  }
}